/* home css */

.mid-container-header, .bottom-container-header {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  
  .quoted-person {
    margin-top: 10px;
  }
  
  #content {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    gap: 5vh;
    
  }
  
  .top-container, .mid-container, .bottom-container {
    justify-self: center;
    border: 2px solid white;
    width: 60vh;
    padding: 10px;
  }
  
  h1, .mid-container-header, .timeslots, .bottom-container-header, .location {
    display: flex;
    justify-content: center;
  }
  
  .quoted-person {
    display: flex;
    justify-content: right;
  } 