/* menu css */

h1 {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.menu-img {
    display: flex;
    border:3px solid black;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-left: 20px;
}

#content {
  display: grid;
  justify-items: center;
  align-items: center;
  
}

.beveragesContainer, .sidesContainer, .mainsContainer, .dessertsContainer {
    display: grid;
    grid-auto-flow: column;
    border: 3px solid white ;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .beveragesContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .beveragesTitle {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .sidesContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .sidesTitle {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .mainsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .mainsTitle {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .dessertsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

  .dessertsTitle {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  [class^="beverage-"], [class^="sides-"], [class^="mains-"], [class^="desserts-"] {
    display: grid;
    margin: 2vh;
  }

  [class^="beverage-"] *, [class^="sides-"] *, [class^="mains-"] *, [class^="desserts-"] * {
    justify-self: center;
  }